<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
    <ng-wizard-step [title]="'1'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-7">
                &nbsp;&nbsp; Pe când eram copil, pădurea noastră nu era așa pustie ca acum. Aici au avut loc zeci, sute
                chiar, de întâmplări, care mai de care mai palpitante și ieșite din comun. Pe unele mi le mai amintesc
                sși acum, pe altele aproape le-am uitat. Însă una
                dintre ele... ei bine, pe asta niciodată n-o voi uita! Pentru că mi-a schimbat complet viața! <br> Dar,
                mai bine să încep cu începutul. <br> Din strămoși, circula printre noi o poveste cum că, în urmă cu sute
                de ani, pădurea noastră fusese cotropită
                de-o armată de uriași. Fuseseră cei mai mari dușmani ai poporului meu, și totul, chipurile, din cauza
                unei mine ascunse de aur ce ar fi fost în stăpânirea strămoșilor mei. Vroiau aur, bineînțeles!
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 my-auto img-container">
                <img class="pic img-fluid" src="../assets/1.png" alt="photo" />
            </div>
        </div>
    </ng-wizard-step>

    <!-- ===============================================================  -->
    <!-- ===============================================================  -->

    <ng-wizard-step [title]="'2'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-7">
                Dar conducătorul de atunci al tribului n-a vrut nicicum să le spună unde se află acea mină, ceea ce i-a
                înfuriat nespus pe dușmani - au început să smulgă copacii din rădăcini, să sfărâme stâncile... În fine,
                mare prăpăd, dragul meu. Mulți dintre ai noștri
                au murit atunci, unii au fost răniți dar secretul n-a fost descoperit. <br> Dar, vai... printre victime
                se aflau și bătrânii tribului, singurii care știau taina. Iar calea spre mină era acum, oricum, blocată
                de toate stâncile lăsate în urmă
                de furioșii uriași. Și de atunci, generație după generație, scotoceau printre stânci, pe aproape și pe
                departe, să găsească din nou mina de aur. Generația bunicilor mei a căutat mina, și, la fel, generația
                tatălui meu.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 my-auto img-container">
                <img class="pic img-fluid" src="../assets/3.png" alt="pic" />
            </div>
        </div>
    </ng-wizard-step>

    <!-- ===============================================================  -->
    <!-- ===============================================================  -->

    <ng-wizard-step [title]="'3'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-7">
                Fiind cel mai mare copil din familie îmi revenea sarcina ca, împreună cu alți băieți din generația mea,
                să duc mai departe această căutare. Poate chiar noi vom reda această bogăție poporului nostru. Săptămână
                de săptămână, plecam împreună cu ceilalți
                băieți, cu traista de merinde pe umăr și ne întorceam abia sâmbăta seara... însă mereu cu același
                rezultat. Mina încă era o taină! Au trecut așa cinci ani iar căutările noastre nu aduseseră vreo
                schimbare. Eram tânăr, aveam multe vise.
                Aș fi vrut să găsesc mina aceea, e drept, dar parcă mai tare aș fi vrut să mă așez și eu la casa mea.
                Știam pe de rost cum șs construi-o, câte camere i-aș face și cum ar fi ferestrele. Îmi doream familia
                mea și liniștea satului meu în
                pădure, mai mult decât să umblu după himera unei mine de aur...
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 my-auto img-container">
                <img class="pic img-fluid" src="../assets/4.png" alt="img" />
            </div>
        </div>
    </ng-wizard-step>

    <!-- ===============================================================  -->
    <!-- ===============================================================  -->

    <ng-wizard-step [title]="'4'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-7">
                Și, iată că a venit ziua. Ziua aceea pe care n-o voi uita vreodată. Pentru că, așa cum iți spuneam, mi-a
                schimbat viața. Era o zi de vineri... iar eu și băieții... . alergam și zbieram cât ne țineau plămânii,
                îndreptându-ne spre sat: <br /> - Am găsiiiit! Am găsiiiiit! Am găsiiiiit! <br /> Tot satul, tot, tot, a
                ieșit în întâmpinarea noastră. Purtam în mâna mea stângă o bucată de metal galben ... și am văzut cum
                fetele bătrânilor se luminează. Ne-au întrebat: <br /> –
                Unde l-ați găsit? <br /> – Dincolo de trecătoare, într-un mal, puțin mai jos de un izvor uscat de
                curând. Se pare că apa a spălat, în timp, pământul și a dat la iveală bulgărele ăsta de aur, am răspuns
                eu! L-am văzut imediat când m-am
                apropiat.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 my-auto img-container">
                <img class="pic" src="../assets/5.png" alt="pic" />
            </div>
        </div>
    </ng-wizard-step>

    <ng-wizard-step [title]="'5'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-6">
                Dar nu e nicio peșteră prin apropiere și nici altă bucată de aur. Am scotocit noi bine zona aia.
                Bărbații satului n-au așteptat mult. Am pornit împreună spre locul cu pricina. Totuși, așa era,
                bulgărele de aur părea să fie singuratic. L-am putut păstra
                pentru că eu îl găsisem. Îmi făceam așa de multe ganduri cu privire la acest aur! Îmi frământam mintea:
                “Aș putea merge la oras săptămâna viitoare și să îmi cumpăr toate materialele de care am nevoie pentru
                a-mi ridica mica mea casă de
                vis! Până în toamna ar fi gata! Of, dacă n-ar mai trebui să plec din nou de nebun prin pădure”!
            </div>
            <div class="content col-sm-12 col-md-12 col-lg-6">
                Seara, la masă, în timp ce mâncam din plăcinta cu brânză, coaptă de mamă, îl priveam pe tata cum mesteca
                gânditor.
                <br /> – Tată, eu aș vrea să merg la oraș săptămâna viitoare. Știi tu, pentru materialele de casă! Acum
                am cu ce să le cumpăr! <br /> O flacără scânteie aprig în ochii tatălui meu și-am știut! Oh, Doamne, am
                știut că voi regreta amarnic
                aceste cuvinte... Se ridică... se îndreptă spre mine... și, fără cuvinte, înșfăcă bucata de aur, apoi cu
                cealaltă mână mă împinse afară din casă. Fără să spună vreun cuvant, o porni inainte, spre padure, iar
                eu știam că trebuie să îl urmez.
            </div>
        </div>
    </ng-wizard-step>

    <ng-wizard-step [title]="'6'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-7">
                Dupa vreo zece minute de mers am ajuns pe marginea lacului. Amândoi tăceam. Tata s-a așezat pe un
                buștean și mi-a făcut loc lângă el. Apoi mi-a zis: <br /> – Fiule, am doua opțiuni. Una ar fi să te las
                sa mergi la oras și să îți cumperi
                materialele pentru casă, apoi să te apuci să o ridici, apoi să îți întemeiezi o familie și să traiești
                aici, ca oricare altul. Și e drept, pe de o parte m-aș bucura mai mult să te am zi de zi lângă mine.
                Ești fiul meu cel mare și te iubesc.
                Și am putea face multe lucruri împreună. Te-aș ajuta, m-ai ajuta. Dar, în același timp, știu caîă dacă
                vei rămâne în sat și nu te intorci la cautarea minei, peste ani, cand trecerea vremii va testa calitatea
                alegerilor și muncii tale, nu
                vei putea ține capul sus ca n-ai facut ce ți-a fost scris să faci!
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 my-auto img-container">
                <img class="pic" src="../assets/7.png" alt="photo" />
            </div>
        </div>
    </ng-wizard-step>

    <ng-wizard-step [title]="'7'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-7">
                Apoi tata a tăcut! Timpul se scurgea în voie dar mie-mi părea că stă în loc. La un moment dat, continuă:
                <br /> - Dacă ai înțeles până acum că dragostea e singura motivație pentru care aș face orice, și dacă
                mă respecți ca pe tatăl tău,
                chiar dacă te-ai mânia... ai să privești și ai să încerci să înțelegi. <br /> Apoi, ridicându-se cu un
                oftat de pe buturugă, se apropie de apă și, ... cu brațul lui puternic, aruncă bulgărele meu de aur atât
                de departe... atât de departe... <br /> Și-am plâns. Am plâns mult. Mocnit. Cu lacrimi amare. Singur, în
                pădurea peste care se așternuse noaptea. Și până dimineața am tot plans. Apoi, când zorii celeilalte
                zile se ridicau peste satul nostru...
                am lăsat lacul în urma și-am plecat spre casă.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 my-auto img-container">
                <img class="pic" src="../assets/8.png" alt="image" />
            </div>
        </div>
    </ng-wizard-step>

    <ng-wizard-step [title]="'8'">
        <div class="story-content row mx-0 px-3">
            <div class="content col-sm-12 col-md-12 col-lg-7">
                Și-am înțeles în noaptea aceea puțin, apoi în următorii ani de căutări încă puțin. Apoi, în ziua în
                care, împreună cu ceilalți băieți, am găsit mina de aur, am înțeles ceea ce tata știuse deja! Ceea ce
                doar atunci când atingi poți descrie:
                <blockquote class="px-2">
                    <em>
                        să trăiești ce ți-a fost scris e mai de preț decât iluzia plămădită de minte sau de inimă!
                    </em>
                </blockquote>

                Și-acum, povestea asta îmi vine în minte adesea în serile calde de vară, când stau în pridvorul căsuței
                mele de pe malul lacului. Acolo, undeva în adâncuri, tatal meu a fost înțelept să arunce ceea ce mă
                ținea departe de chemarea mea! Cât de puțin am
                înțeles atunci, cât de bine văd acum ... Dar el a știut și m-a ajutat și pe mine să înțeleg!
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 my-auto img-container">
                <img class="pic" src="../assets/9.png" alt="pic" />
            </div>
        </div>
    </ng-wizard-step>
</ng-wizard>